soap-wsdl-src/Typemap/example/wsdl/FortuneCookie.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.fullerdata.com/FortuneCookie/FortuneCookie.asmx" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.fullerdata.com/FortuneCookie/FortuneCookie.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.fullerdata.com/FortuneCookie/FortuneCookie.asmx">
      <s:element name="readNodeCount">
        <s:complexType />
      </s:element>
      <s:element name="readNodeCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="readNodeCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFortuneCookie">
        <s:complexType />
      </s:element>
      <s:element name="GetFortuneCookieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFortuneCookieResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountCookies">
        <s:complexType />
      </s:element>
      <s:element name="CountCookiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountCookiesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpecificCookie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpecificCookieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSpecificCookieResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="readNodeCountSoapIn">
    <wsdl:part name="parameters" element="tns:readNodeCount" />
  </wsdl:message>
  <wsdl:message name="readNodeCountSoapOut">
    <wsdl:part name="parameters" element="tns:readNodeCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetFortuneCookieSoapIn">
    <wsdl:part name="parameters" element="tns:GetFortuneCookie" />
  </wsdl:message>
  <wsdl:message name="GetFortuneCookieSoapOut">
    <wsdl:part name="parameters" element="tns:GetFortuneCookieResponse" />
  </wsdl:message>
  <wsdl:message name="CountCookiesSoapIn">
    <wsdl:part name="parameters" element="tns:CountCookies" />
  </wsdl:message>
  <wsdl:message name="CountCookiesSoapOut">
    <wsdl:part name="parameters" element="tns:CountCookiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpecificCookieSoapIn">
    <wsdl:part name="parameters" element="tns:GetSpecificCookie" />
  </wsdl:message>
  <wsdl:message name="GetSpecificCookieSoapOut">
    <wsdl:part name="parameters" element="tns:GetSpecificCookieResponse" />
  </wsdl:message>
  <wsdl:message name="readNodeCountHttpGetIn" />
  <wsdl:message name="readNodeCountHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetFortuneCookieHttpGetIn" />
  <wsdl:message name="GetFortuneCookieHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CountCookiesHttpGetIn" />
  <wsdl:message name="CountCookiesHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetSpecificCookieHttpGetIn">
    <wsdl:part name="index" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSpecificCookieHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="readNodeCountHttpPostIn" />
  <wsdl:message name="readNodeCountHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetFortuneCookieHttpPostIn" />
  <wsdl:message name="GetFortuneCookieHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CountCookiesHttpPostIn" />
  <wsdl:message name="CountCookiesHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetSpecificCookieHttpPostIn">
    <wsdl:part name="index" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSpecificCookieHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="FullerData_x0020_Fortune_x0020_CookieSoap">
    <wsdl:operation name="readNodeCount">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Display the number of nodes specified in fortune XML document</documentation>
      <wsdl:input message="tns:readNodeCountSoapIn" />
      <wsdl:output message="tns:readNodeCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFortuneCookie">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get a random fortune cookie from the XML document</documentation>
      <wsdl:input message="tns:GetFortuneCookieSoapIn" />
      <wsdl:output message="tns:GetFortuneCookieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountCookies">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Count the actual number of nodes in the XML document of fortunes</documentation>
      <wsdl:input message="tns:CountCookiesSoapIn" />
      <wsdl:output message="tns:CountCookiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecificCookie">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get a specific cookie by the XML node number</documentation>
      <wsdl:input message="tns:GetSpecificCookieSoapIn" />
      <wsdl:output message="tns:GetSpecificCookieSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FullerData_x0020_Fortune_x0020_CookieHttpGet">
    <wsdl:operation name="readNodeCount">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Display the number of nodes specified in fortune XML document</documentation>
      <wsdl:input message="tns:readNodeCountHttpGetIn" />
      <wsdl:output message="tns:readNodeCountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFortuneCookie">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get a random fortune cookie from the XML document</documentation>
      <wsdl:input message="tns:GetFortuneCookieHttpGetIn" />
      <wsdl:output message="tns:GetFortuneCookieHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CountCookies">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Count the actual number of nodes in the XML document of fortunes</documentation>
      <wsdl:input message="tns:CountCookiesHttpGetIn" />
      <wsdl:output message="tns:CountCookiesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecificCookie">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get a specific cookie by the XML node number</documentation>
      <wsdl:input message="tns:GetSpecificCookieHttpGetIn" />
      <wsdl:output message="tns:GetSpecificCookieHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FullerData_x0020_Fortune_x0020_CookieHttpPost">
    <wsdl:operation name="readNodeCount">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Display the number of nodes specified in fortune XML document</documentation>
      <wsdl:input message="tns:readNodeCountHttpPostIn" />
      <wsdl:output message="tns:readNodeCountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFortuneCookie">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get a random fortune cookie from the XML document</documentation>
      <wsdl:input message="tns:GetFortuneCookieHttpPostIn" />
      <wsdl:output message="tns:GetFortuneCookieHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CountCookies">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Count the actual number of nodes in the XML document of fortunes</documentation>
      <wsdl:input message="tns:CountCookiesHttpPostIn" />
      <wsdl:output message="tns:CountCookiesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecificCookie">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get a specific cookie by the XML node number</documentation>
      <wsdl:input message="tns:GetSpecificCookieHttpPostIn" />
      <wsdl:output message="tns:GetSpecificCookieHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FullerData_x0020_Fortune_x0020_CookieSoap" type="tns:FullerData_x0020_Fortune_x0020_CookieSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="readNodeCount">
      <soap:operation soapAction="http://www.fullerdata.com/FortuneCookie/FortuneCookie.asmx/readNodeCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFortuneCookie">
      <soap:operation soapAction="http://www.fullerdata.com/FortuneCookie/FortuneCookie.asmx/GetFortuneCookie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountCookies">
      <soap:operation soapAction="http://www.fullerdata.com/FortuneCookie/FortuneCookie.asmx/CountCookies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificCookie">
      <soap:operation soapAction="http://www.fullerdata.com/FortuneCookie/FortuneCookie.asmx/GetSpecificCookie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FullerData_x0020_Fortune_x0020_CookieHttpGet" type="tns:FullerData_x0020_Fortune_x0020_CookieHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="readNodeCount">
      <http:operation location="/readNodeCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFortuneCookie">
      <http:operation location="/GetFortuneCookie" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountCookies">
      <http:operation location="/CountCookies" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificCookie">
      <http:operation location="/GetSpecificCookie" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FullerData_x0020_Fortune_x0020_CookieHttpPost" type="tns:FullerData_x0020_Fortune_x0020_CookieHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="readNodeCount">
      <http:operation location="/readNodeCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFortuneCookie">
      <http:operation location="/GetFortuneCookie" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountCookies">
      <http:operation location="/CountCookies" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificCookie">
      <http:operation location="/GetSpecificCookie" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FullerData_x0020_Fortune_x0020_Cookie">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Simple XML-based fortune cookie</documentation>
    <wsdl:port name="FullerData_x0020_Fortune_x0020_CookieSoap" binding="tns:FullerData_x0020_Fortune_x0020_CookieSoap">
      <soap:address location="http://www.fullerdata.com/FortuneCookie/FortuneCookie.asmx" />
    </wsdl:port>
    <wsdl:port name="FullerData_x0020_Fortune_x0020_CookieHttpGet" binding="tns:FullerData_x0020_Fortune_x0020_CookieHttpGet">
      <http:address location="http://www.fullerdata.com/FortuneCookie/FortuneCookie.asmx" />
    </wsdl:port>
    <wsdl:port name="FullerData_x0020_Fortune_x0020_CookieHttpPost" binding="tns:FullerData_x0020_Fortune_x0020_CookieHttpPost">
      <http:address location="http://www.fullerdata.com/FortuneCookie/FortuneCookie.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>