wsdl-files/Puro/ServiceAvailabilityService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ServiceAvailabilityService" targetNamespace="http://purolator.com/pws/service/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://purolator.com/pws/service/v1" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://purolator.com/pws/datatypes/v1" xmlns:tns="http://purolator.com/pws/datatypes/v1">
      <xsd:complexType name="GetServicesOptionsRequestContainer">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>GetServicesOptionsRequest</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:RequestContainer">
            <xsd:sequence>
              <xsd:element name="BillingAccountNumber" nillable="true" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>BillingAccountNumber - string</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="SenderAddress" nillable="true" type="tns:ShortAddress">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>SenderAddress - Address</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ReceiverAddress" nillable="true" type="tns:ShortAddress">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>ReceiverAddress - Address</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="GetServicesOptionsRequestContainer" nillable="true" type="tns:GetServicesOptionsRequestContainer"/>
      <xsd:complexType name="RequestContainer">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:element name="RequestContainer" nillable="true" type="tns:RequestContainer"/>
      <xsd:complexType name="ShortAddress">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>ShortAddress</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="City" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>City - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Province" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Province - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Country" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Country - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PostalCode" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PostalCode; - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ShortAddress" nillable="true" type="tns:ShortAddress"/>
      <xsd:element name="GetServicesOptionsRequest" nillable="true" type="tns:GetServicesOptionsRequestContainer"/>
      <xsd:complexType name="RequestContext">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>RequestContext</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Version" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Version - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Language" type="tns:Language">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Language - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GroupID" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>GroupID - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RequestReference" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>RequestReference - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RequestContext" nillable="true" type="tns:RequestContext"/>
      <xsd:simpleType name="Language">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>Language - enum</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="en">
            <xsd:annotation>
              <xsd:documentation>en</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="fr">
            <xsd:annotation>
              <xsd:documentation>fr</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="Language" nillable="true" type="tns:Language"/>
      <xsd:complexType name="GetServicesOptionsResponseContainer">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>GetServicesOptionsResponse</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ResponseContainer">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Services" nillable="true" type="tns:ArrayOfService">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>Services - Service[]</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="GetServicesOptionsResponseContainer" nillable="true" type="tns:GetServicesOptionsResponseContainer"/>
      <xsd:complexType name="ResponseContainer">
        <xsd:sequence>
          <xsd:element name="ResponseInformation" nillable="true" type="tns:ResponseInformation">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ResponseInformation - ResponseInformation</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ResponseContainer" nillable="true" type="tns:ResponseContainer"/>
      <xsd:complexType name="ResponseInformation">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>ResponseInformation</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Errors" nillable="true" type="tns:ArrayOfError">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Errors - Error[]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="InformationalMessages" nillable="true" type="tns:ArrayOfInformationalMessage">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>InformationalMessages - InformationalMessage[]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ResponseInformation" nillable="true" type="tns:ResponseInformation"/>
      <xsd:complexType name="ArrayOfError">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="tns:Error"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfError" nillable="true" type="tns:ArrayOfError"/>
      <xsd:complexType name="Error">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>Error</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Code" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Code - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Description" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Description - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AdditionalInformation" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>AdditionalInformation - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Error" nillable="true" type="tns:Error"/>
      <xsd:complexType name="ArrayOfInformationalMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="InformationalMessage" nillable="true" type="tns:InformationalMessage"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfInformationalMessage" nillable="true" type="tns:ArrayOfInformationalMessage"/>
      <xsd:complexType name="InformationalMessage">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>InformationalMessage</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Code" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Code - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Message" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Message - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="InformationalMessage" nillable="true" type="tns:InformationalMessage"/>
      <xsd:complexType name="ArrayOfService">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Service" nillable="true" type="tns:Service"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfService" nillable="true" type="tns:ArrayOfService"/>
      <xsd:complexType name="Service">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>Service</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ID" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ID - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Description" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Description - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PackageType" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PackageType - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PackageTypeDescription" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PackageTypeDescription - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Options" nillable="true" type="tns:ArrayOfOption">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Options - Option[]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Service" nillable="true" type="tns:Service"/>
      <xsd:complexType name="ArrayOfOption">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="tns:Option"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfOption" nillable="true" type="tns:ArrayOfOption"/>
      <xsd:complexType name="Option">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>Option</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ID" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ID - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Description" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Description - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ValueType" type="tns:ValueType">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ValueType - ValueType</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AvailableForPieces" type="xsd:boolean">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>AvailableForPieces - bool</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PossibleValues" nillable="true" type="tns:ArrayOfOptionValue">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PossibleValues - OptionValue[]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Option" nillable="true" type="tns:Option"/>
      <xsd:simpleType name="ValueType">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>ValueType - enum</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="String">
            <xsd:annotation>
              <xsd:documentation>String</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="Decimal">
            <xsd:annotation>
              <xsd:documentation>Decimal</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="DateTime">
            <xsd:annotation>
              <xsd:documentation>DateTime</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="Enumeration">
            <xsd:annotation>
              <xsd:documentation>Enumeration</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ValueType" nillable="true" type="tns:ValueType"/>
      <xsd:complexType name="ArrayOfOptionValue">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="OptionValue" nillable="true" type="tns:OptionValue"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfOptionValue" nillable="true" type="tns:ArrayOfOptionValue"/>
      <xsd:complexType name="OptionValue">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>OptionValue</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Value" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Value - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Description" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Description - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="OptionValue" nillable="true" type="tns:OptionValue"/>
      <xsd:element name="GetServicesOptionsResponse" nillable="true" type="tns:GetServicesOptionsResponseContainer"/>
      <xsd:complexType name="ResponseContext">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>ResponseContext</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ResponseReference" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ResponseReference - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ResponseContext" nillable="true" type="tns:ResponseContext"/>
      <xsd:complexType name="GetServiceRulesRequestContainer">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>GetServiceRulesRequest</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:RequestContainer">
            <xsd:sequence>
              <xsd:element name="BillingAccountNumber" nillable="true" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>BillingAccountNumber - string</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="SenderAddress" nillable="true" type="tns:ShortAddress">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>SenderAddress - Address</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ReceiverAddress" nillable="true" type="tns:ShortAddress">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>ReceiverAddress - Address</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="GetServiceRulesRequestContainer" nillable="true" type="tns:GetServiceRulesRequestContainer"/>
      <xsd:element name="GetServiceRulesRequest" nillable="true" type="tns:GetServiceRulesRequestContainer"/>
      <xsd:complexType name="GetServiceRulesResponseContainer">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>GetServiceRulesResponse</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ResponseContainer">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="ServiceRules" nillable="true" type="tns:ArrayOfServiceRule">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>ServiceRules - ServiceRules[]</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" name="ServiceOptionRules" nillable="true" type="tns:ArrayOfServiceOptionRules">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>ServiceOptionRules - ServiceOptionRules[]</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" name="OptionRules" nillable="true" type="tns:ArrayOfOptionRule">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>OptionRules - OptionRule[]</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="GetServiceRulesResponseContainer" nillable="true" type="tns:GetServiceRulesResponseContainer"/>
      <xsd:complexType name="ArrayOfServiceRule">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ServiceRule" nillable="true" type="tns:ServiceRule"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfServiceRule" nillable="true" type="tns:ArrayOfServiceRule"/>
      <xsd:complexType name="ServiceRule">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>ServiceRules</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ServiceID" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ServiceID - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MinimumTotalPieces" type="xsd:int">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>MinimumTotalPieces - int</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MaximumTotalPieces" type="xsd:int">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>MaximumTotalPieces - int</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MinimumTotalWeight" nillable="true" type="tns:Weight">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>MinimumTotalWeight - Weight</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MaximumTotalWeight" nillable="true" type="tns:Weight">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>MaximumTotalWeight - Weight</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MinimumPieceWeight" nillable="true" type="tns:Weight">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>MinimumPieceWeight - Weight</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MaximumPieceWeight" nillable="true" type="tns:Weight">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>MaximumPieceWeight - Weight</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MinimumPieceLength" nillable="true" type="tns:Dimension">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>MinimumPieceLength - Dimension</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MaximumPieceLength" nillable="true" type="tns:Dimension">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>MaximumPieceLength - Dimension</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MinimumPieceWidth" nillable="true" type="tns:Dimension">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>MinimumPieceWidth - Dimension</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MaximumPieceWidth" nillable="true" type="tns:Dimension">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>MaximumPieceWidth - Dimension</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MinimumPieceHeight" nillable="true" type="tns:Dimension">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>MinimumPieceHeight - Dimension</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MaximumPieceHeight" nillable="true" type="tns:Dimension">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>MaximumPieceHeight - Dimension</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MaximumSize" nillable="true" type="tns:Dimension">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>MaximumSize - Size</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MaximumDeclaredValue" type="xsd:decimal">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>MaximumDeclaredValue - decimal</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ServiceRule" nillable="true" type="tns:ServiceRule"/>
      <xsd:complexType name="Weight">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>Weight</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Value" nillable="true" type="xsd:decimal">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Value - decimal</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="WeightUnit" type="tns:WeightUnit">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>WeightUnit - WeightUnit</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Weight" nillable="true" type="tns:Weight"/>
      <xsd:simpleType name="WeightUnit">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>WeightUnit - enum</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="lb">
            <xsd:annotation>
              <xsd:documentation>lb</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="kg">
            <xsd:annotation>
              <xsd:documentation>kg</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="WeightUnit" nillable="true" type="tns:WeightUnit"/>
      <xsd:complexType name="Dimension">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>Dimension</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Value" nillable="true" type="xsd:decimal">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Value - decimal</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DimensionUnit" type="tns:DimensionUnit">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>DimensionUnit - DimensionUnit</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Dimension" nillable="true" type="tns:Dimension"/>
      <xsd:simpleType name="DimensionUnit">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>DimensionUnit - enum</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="in">
            <xsd:annotation>
              <xsd:documentation>in</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="cm">
            <xsd:annotation>
              <xsd:documentation>cm</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="DimensionUnit" nillable="true" type="tns:DimensionUnit"/>
      <xsd:complexType name="ArrayOfServiceOptionRules">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ServiceOptionRules" nillable="true" type="tns:ServiceOptionRules"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfServiceOptionRules" nillable="true" type="tns:ArrayOfServiceOptionRules"/>
      <xsd:complexType name="ServiceOptionRules">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>ServiceOptionRules</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ServiceID" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ServiceID - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Exclusions" nillable="true" type="tns:ArrayOfOptionIDValuePair">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Exclusions - OptionIDValuePair[]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Inclusions" nillable="true" type="tns:ArrayOfOptionIDValuePair">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Inclusions - OptionIDValuePair[]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ServiceOptionRules" nillable="true" type="tns:ServiceOptionRules"/>
      <xsd:complexType name="ArrayOfOptionIDValuePair">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="OptionIDValuePair" nillable="true" type="tns:OptionIDValuePair"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfOptionIDValuePair" nillable="true" type="tns:ArrayOfOptionIDValuePair"/>
      <xsd:complexType name="OptionIDValuePair">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>OptionIDValuePair</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ID" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ID - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Value" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Value - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="OptionIDValuePair" nillable="true" type="tns:OptionIDValuePair"/>
      <xsd:complexType name="ArrayOfOptionRule">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="OptionRule" nillable="true" type="tns:OptionRule"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfOptionRule" nillable="true" type="tns:ArrayOfOptionRule"/>
      <xsd:complexType name="OptionRule">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>OptionRule</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="OptionIDValuePair" nillable="true" type="tns:OptionIDValuePair">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>OptionIDValuePair - OptionIDValuePair</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Exclusions" nillable="true" type="tns:ArrayOfOptionIDValuePair">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Exclusions - OptionIDValuePair[]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Inclusions" nillable="true" type="tns:ArrayOfOptionIDValuePair">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Inclusions - OptionIDValuePair[]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="OptionRule" nillable="true" type="tns:OptionRule"/>
      <xsd:element name="GetServiceRulesResponse" nillable="true" type="tns:GetServiceRulesResponseContainer"/>
      <xsd:complexType name="ValidateCityPostalCodeZipRequestContainer">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>ValidateCityPostalCodeZipRequest</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:RequestContainer">
            <xsd:sequence>
              <xsd:element name="Addresses" nillable="true" type="tns:ArrayOfShortAddress">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>SenderAddress - ShortAddress[]</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="ValidateCityPostalCodeZipRequestContainer" nillable="true" type="tns:ValidateCityPostalCodeZipRequestContainer"/>
      <xsd:complexType name="ArrayOfShortAddress">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ShortAddress" nillable="true" type="tns:ShortAddress"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfShortAddress" nillable="true" type="tns:ArrayOfShortAddress"/>
      <xsd:element name="ValidateCityPostalCodeZipRequest" nillable="true" type="tns:ValidateCityPostalCodeZipRequestContainer"/>
      <xsd:complexType name="ValidateCityPostalCodeZipResponseContainer">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>ValidateCityPostalCodeZipResponse</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ResponseContainer">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="SuggestedAddresses" nillable="true" type="tns:ArrayOfSuggestedAddress">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>SuggestedAddresses - SuggestedAddress[]</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="ValidateCityPostalCodeZipResponseContainer" nillable="true" type="tns:ValidateCityPostalCodeZipResponseContainer"/>
      <xsd:complexType name="ArrayOfSuggestedAddress">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SuggestedAddress" nillable="true" type="tns:SuggestedAddress"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfSuggestedAddress" nillable="true" type="tns:ArrayOfSuggestedAddress"/>
      <xsd:complexType name="SuggestedAddress">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>SuggestedShortAddress</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Address" nillable="true" type="tns:ShortAddress">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>SuggestedAddress - ShortAddress</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ResponseInformation" nillable="true" type="tns:ResponseInformation">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ResponseInformation - ResponseInformation</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SuggestedAddress" nillable="true" type="tns:SuggestedAddress"/>
      <xsd:element name="ValidateCityPostalCodeZipResponse" nillable="true" type="tns:ValidateCityPostalCodeZipResponseContainer"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" xmlns:tns="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation">
      <xsd:complexType name="ValidationFault">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>This class is used to return information to a WCF client when validation fails on a service parameter.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Details" nillable="true" type="q1:ArrayOfValidationDetail" xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation/>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ValidationFault" nillable="true" type="tns:ValidationFault"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF" xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF">
      <xsd:complexType name="ArrayOfValidationDetail">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ValidationDetail" nillable="true" type="tns:ValidationDetail"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfValidationDetail" nillable="true" type="tns:ArrayOfValidationDetail"/>
      <xsd:complexType name="ValidationDetail">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>This class holds the results of a single validation. Effectively, it's the same as a ValidationResult, but creating a separate class allows us to mark up a DataContract with impunity.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Key" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Get or set a name describing the location of the validation result.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Message" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Get or set a message describing the validation failure.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Tag" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Get or set a value characterizing the fault.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ValidationDetail" nillable="true" type="tns:ValidationDetail"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetServicesOptionsRequest">
    <wsdl:part name="GetServicesOptionsRequest" element="q2:GetServicesOptionsRequest" xmlns:q2="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="GetServicesOptionsRequest_Headers">
    <wsdl:part name="RequestContext" element="q3:RequestContext" xmlns:q3="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="GetServicesOptionsResponse">
    <wsdl:part name="GetServicesOptionsResponse" element="q4:GetServicesOptionsResponse" xmlns:q4="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="GetServicesOptionsResponse_Headers">
    <wsdl:part name="ResponseContext" element="q5:ResponseContext" xmlns:q5="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="ServiceAvailabilityServiceContract_GetServicesOptions_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q6:ValidationFault" xmlns:q6="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation"/>
  </wsdl:message>
  <wsdl:message name="GetServiceRulesRequest">
    <wsdl:part name="GetServiceRulesRequest" element="q7:GetServiceRulesRequest" xmlns:q7="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="GetServiceRulesRequest_Headers">
    <wsdl:part name="RequestContext" element="q8:RequestContext" xmlns:q8="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="GetServiceRulesResponse">
    <wsdl:part name="GetServiceRulesResponse" element="q9:GetServiceRulesResponse" xmlns:q9="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="GetServiceRulesResponse_Headers">
    <wsdl:part name="ResponseContext" element="q10:ResponseContext" xmlns:q10="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="ServiceAvailabilityServiceContract_GetServiceRules_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q11:ValidationFault" xmlns:q11="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation"/>
  </wsdl:message>
  <wsdl:message name="ValidateCityPostalCodeZipRequest">
    <wsdl:part name="ValidateCityPostalCodeZipRequest" element="q12:ValidateCityPostalCodeZipRequest" xmlns:q12="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="ValidateCityPostalCodeZipRequest_Headers">
    <wsdl:part name="RequestContext" element="q13:RequestContext" xmlns:q13="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="ValidateCityPostalCodeZipResponse">
    <wsdl:part name="ValidateCityPostalCodeZipResponse" element="q14:ValidateCityPostalCodeZipResponse" xmlns:q14="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="ValidateCityPostalCodeZipResponse_Headers">
    <wsdl:part name="ResponseContext" element="q15:ResponseContext" xmlns:q15="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="ServiceAvailabilityServiceContract_ValidateCityPostalCodeZip_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q16:ValidationFault" xmlns:q16="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation"/>
  </wsdl:message>
  <wsdl:portType name="ServiceAvailabilityServiceContract">
    <wsdl:documentation>Service Contract Class - ServiceAvailabilityServiceContract</wsdl:documentation>
    <wsdl:operation name="GetServicesOptions">
      <wsdl:documentation>GetServicesOptions
@param request GetServicesOptionsRequest
@return GetServicesOptionsResponse</wsdl:documentation>
      <wsdl:input wsaw:Action="http://purolator.com/pws/service/v1/GetServicesOptions" name="GetServicesOptionsRequest" message="tns:GetServicesOptionsRequest"/>
      <wsdl:output wsaw:Action="http://purolator.com/pws/service/v1/ServiceAvailabilityServiceContract/GetServicesOptionsResponse" name="GetServicesOptionsResponse" message="tns:GetServicesOptionsResponse"/>
      <wsdl:fault wsaw:Action="http://purolator.com/pws/service/v1/ServiceAvailabilityServiceContract/GetServicesOptionsValidationFaultFault" name="ValidationFaultFault" message="tns:ServiceAvailabilityServiceContract_GetServicesOptions_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetServiceRules">
      <wsdl:documentation>GetServiceRules
@param request GetServiceRulesRequest
@return GetServiceRulesResponse</wsdl:documentation>
      <wsdl:input wsaw:Action="http://purolator.com/pws/service/v1/GetServiceRules" name="GetServiceRulesRequest" message="tns:GetServiceRulesRequest"/>
      <wsdl:output wsaw:Action="http://purolator.com/pws/service/v1/ServiceAvailabilityServiceContract/GetServiceRulesResponse" name="GetServiceRulesResponse" message="tns:GetServiceRulesResponse"/>
      <wsdl:fault wsaw:Action="http://purolator.com/pws/service/v1/ServiceAvailabilityServiceContract/GetServiceRulesValidationFaultFault" name="ValidationFaultFault" message="tns:ServiceAvailabilityServiceContract_GetServiceRules_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ValidateCityPostalCodeZip">
      <wsdl:documentation>ValidateCityPostalCodeZip
@param request ValidateCityPostalCodeZipRequest
@return ValidateCityPostalCodeZipResponse</wsdl:documentation>
      <wsdl:input wsaw:Action="http://purolator.com/pws/service/v1/ValidateCityPostalCodeZip" name="ValidateCityPostalCodeZipRequest" message="tns:ValidateCityPostalCodeZipRequest"/>
      <wsdl:output wsaw:Action="http://purolator.com/pws/service/v1/ServiceAvailabilityServiceContract/ValidateCityPostalCodeZipResponse" name="ValidateCityPostalCodeZipResponse" message="tns:ValidateCityPostalCodeZipResponse"/>
      <wsdl:fault wsaw:Action="http://purolator.com/pws/service/v1/ServiceAvailabilityServiceContract/ValidateCityPostalCodeZipValidationFaultFault" name="ValidationFaultFault" message="tns:ServiceAvailabilityServiceContract_ValidateCityPostalCodeZip_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceAvailabilityServiceEndpoint" type="tns:ServiceAvailabilityServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetServicesOptions">
      <soap:operation soapAction="http://purolator.com/pws/service/v1/GetServicesOptions" style="document"/>
      <wsdl:input name="GetServicesOptionsRequest">
        <soap:header message="tns:GetServicesOptionsRequest_Headers" part="RequestContext" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetServicesOptionsResponse">
        <soap:header message="tns:GetServicesOptionsResponse_Headers" part="ResponseContext" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetServiceRules">
      <soap:operation soapAction="http://purolator.com/pws/service/v1/GetServiceRules" style="document"/>
      <wsdl:input name="GetServiceRulesRequest">
        <soap:header message="tns:GetServiceRulesRequest_Headers" part="RequestContext" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetServiceRulesResponse">
        <soap:header message="tns:GetServiceRulesResponse_Headers" part="ResponseContext" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateCityPostalCodeZip">
      <soap:operation soapAction="http://purolator.com/pws/service/v1/ValidateCityPostalCodeZip" style="document"/>
      <wsdl:input name="ValidateCityPostalCodeZipRequest">
        <soap:header message="tns:ValidateCityPostalCodeZipRequest_Headers" part="RequestContext" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ValidateCityPostalCodeZipResponse">
        <soap:header message="tns:ValidateCityPostalCodeZipResponse_Headers" part="ResponseContext" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAvailabilityService">
    <wsdl:port name="ServiceAvailabilityServiceEndpoint" binding="tns:ServiceAvailabilityServiceEndpoint">
      <soap:address location="https://devwebservices.purolator.com/EWS/V1/ServiceAvailability/ServiceAvailabilityService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
