soap-wsdl-src/Typemap/t/acceptance/wsdl/03_complexType-sequence.wsdl

<?xml version="1.0"?>
<definitions
    targetNamespace="Test"
    xmlns:tns="Test"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
>
    <types>
        <xsd:schema targetNamespace="Test">
        <xsd:complexType name="testComplexType1">
            <xsd:annotation>
                <xsd:documentation>
                ComplexType Test
                </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
                <xsd:element name="Test1" type="xsd:string" minOccurs="1"/>
                <xsd:element name="Test2" type="xsd:string" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="testRequest">
        <part name="testSequence" type="tns:testComplexType1"/>
    </message>
    <message name="testResponse">
        <part name="testSequence" type="tns:testComplexType1"/>
    </message>
    <portType name="testPort">
        <operation name="test">
            <documentation>
                Test-Methode
            </documentation>

            <input message="tns:testRequest"/>
            <output message="tns:testResponse"/>
        </operation>
    </portType>
    <portType name="testPort2">
        <operation name="test">
            <documentation>
                Test-Methode
            </documentation>

            <input message="tns:testRequest"/>
            <output message="tns:testResponse"/>
        </operation>
    </portType>
    <portType name="testPort3">
        <operation name="test">
            <documentation>
                Test-Methode
            </documentation>

            <input message="tns:testRequest"/>
            <output message="tns:testResponse"/>
        </operation>
    </portType>

    <binding type="tns:testPort" name="testBinding">
            <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
            <operation name="test">
        <soap:operation soapAction="test"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            </operation>
    </binding>
    <binding type="tns:testPort2" name="testBinding2">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
            <operation name="test">
                <soap:operation soapAction="test"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            </operation>
    </binding>
    <binding type="tns:testPort3" name="testBinding3">

    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="test">
        <soap:operation soapAction="test"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            </operation>
        </binding>
    <service name="testService">
        <port name="testPort" binding="tns:testBinding">
            <soap:address location="http://127.0.0.1/testPort" />
        </port>
    </service>
</definitions>
