soap-wsdl-src/Typemap/t/acceptance/wsdl/05_simpleType-list.wsdl

<?xml version="1.0"?>
<definitions targetNamespace="urn:Test" xmlns:tns="urn:Test"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema targetNamespace="urn:Test">
            <xsd:simpleType name="testSimpleType1">
                <xsd:annotation>
                    <xsd:documentation>
                        SimpleType: List with an integer (length 2-4)
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:list itemType="xsd:int"></xsd:list>
            </xsd:simpleType>

            <xsd:simpleType name="testSimpleType2">
                <xsd:annotation>
                    <xsd:documentation>
                        SimpleType: List with an integer (length 2)
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:list itemType="xsd:int"></xsd:list>
            </xsd:simpleType>

        </xsd:schema>
    </types>
    <message name="testRequest">
        <part name="testAll" type="tns:testSimpleType1" />
    </message>
    <message name="testResponse">
        <part name="testAll" type="tns:testSimpleType2" />
    </message>
    <portType name="testPort">
        <operation name="test">
            <documentation>Test-Methode</documentation>
            <input message="tns:testRequest" />
            <output message="tns:testResponse" />
        </operation>
    </portType>

    <binding type="tns:testPort" name="testBinding">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="test">
            <soap:operation soapAction="test" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="testService">
        <port name="testPort" binding="tns:testBinding">
            <soap:address location="http://127.0.0.1/testPort" />
        </port>
    </service>
</definitions>
