soap-wsdl-src/Typemap/t/acceptance/wsdl/elementAtomicComplexType.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:element name="testElementAtomicComplexTypeAll">
			<xsd:complexType>
				<xsd:annotation>
					<xsd:documentation> SimpleType: Integer between 1 and 9 
						(Inclusive constraints) </xsd:documentation>
				</xsd:annotation>
				<xsd:all>
					<xsd:element name="test1" type="xsd:int"/>
					<xsd:element name="test2" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
		</xsd:element>
</xsd:schema>
